.login-container {
    min-height: 80vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.4);
    font-family: "Rubik", sans-serif;
    padding: 2rem 0;
    background: url('../../assets/fon.svg') no-repeat center/cover; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Фиксирует фон */
    background-position: 0rem 18rem;
}

.login-card {
    background: linear-gradient(120deg, #3C3C3C, #2A2A2A, #5A5A5A, #3C3C3C);
    padding: 2rem;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.login-title {
    font-size: 1.75rem; /* Уменьшено с 2rem */
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0.5rem; /* Уменьшено с 2rem */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: #600000;
    font-size: 0.85rem; /* Уменьшено с 0.9rem */
    margin-bottom: 1.25rem; /* Уменьшено с 1.5rem */
    background: rgba(255, 255, 255, 0.15);
    padding: 0.5rem; /* Уменьшено с 0.75rem */
    border-radius: 1rem;
    text-align: center;
    font-weight: 500;
}

.input-group {
    margin-bottom: 1.25rem; /* Уменьшено с 1.5rem */
}

.input-label {
    display: block;
    color: #ffffff;
    font-size: 1.25rem; /* Уменьшено с 1.75rem */
    font-weight: 500;
    margin-bottom: 0.5rem; /* Уменьшено с 0.75rem */
    opacity: 0.85;
}

.input-field {
    width: 100%;
    padding: 0.5rem 0.75rem; /* Уменьшено с 0.75rem 1rem */
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1.25rem; /* Уменьшено с 1.5rem */
    outline: none;
    transition: all 0.4s ease;
}

.input-field:focus {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
}

.input-field::placeholder {
    color: #e0e0e0;
    opacity: 0.7;
}

.login-button {
    padding: 0.75rem 0rem;/* Уменьшено с 0.75rem 1.5rem */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    color: #ffffff;
    font-weight: 900;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: 1rem; 
    transition: all 0.4s ease;
    display: block; 
    margin-top: 1rem;
    opacity: 0.8;
    width: 100%;
}

.login-button:hover {
    color: #ffffff;
    background: #a01e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-color: #ffffff;
    transform: scale(1.1);
    opacity: 1;
}

.login-button:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.register-button {
    width: 30%;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    text-align: center; 
    transition: all 0.4s ease;
    display: block; 
    margin: 1rem 0rem 0rem auto; 
    opacity: 0.8;
}

.register-button:hover {
    color: #ffffff;
    opacity: 1;
    transform: scale(1.1);
}

