.social-links-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.social-link svg {
  fill: #fff;
}

.social-link:hover{
    transform: scale(1.1);
}
