@import "tailwindcss";

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

@theme {
    --breakpoint-md: 900px;
    --color-primary: #A01E1E;
    --color-secondary: #1D293D;
    --color-text-secondary: #D9D9D9;
  }