@import "tailwindcss";

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

@theme {
    --breakpoint-md: 900px;
  }

/* Утилита для обрезки текста */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}