.progress-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.progress-circles-group {
  display: flex;
  gap: 200px; /* Расстояние между кругами */
  justify-content: center;
  flex-wrap: wrap;
}

.progress-circle-item {
  width: 120px; /* Размер круга */
  height: 120px;
  position: relative;
  text-align: center;
}

/* Стили для текста под кругом */
.progress-label {
  font-size: 25px; /* Размер текста подписи */
  color: #585858; /* Цвет текста */
  margin-top: 10px; /* Отступ сверху от круга */
  text-align: center;
  font-weight: 400;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}