section {
  display: flex;
  flex-direction: column;
}

.business-services-section {
  padding: 40px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 40px;
  background: url("../../../assets/fon.svg") no-repeat center/cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Фиксирует фон */
  background-position: 0rem 18rem;
}

.section-right {
  display: flex;
  flex-direction: row;
}

.business-services-section h1 {
  color: #a01e1e;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.business-services-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

.business-services-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

.business-menu-button {
  background-color: #FFFFFF;
  color: #3c3c3c;
  border: 2px solid #585858;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 8px;
}

.business-menu-button:hover {
  background-color: #fde7e5;
  color: #a01e1e;
}

.business-menu-button.active {
  background-color: #a01e1e;
  color: #ffffff;
  border-color: #a01e1e;
}

.business-menu-button .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #585858;
  color: #ffffff;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 15px;
  flex-shrink: 0;
}

.business-menu-button .text {
  flex-grow: 1;
  font-size: 1.1rem;
}

.business-menu-button .arrow {
  margin-left: 10px;
  color: #3c3c3c;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.business-menu-button:hover .arrow {
  color: #a01e1e;
}

.business-menu-button.active .arrow {
  color: #ffffff;
}

.business-menu-button.active .number {
  background-color: #ffffff;
  color: #a01e1e;
}

.business-services-panel {
  background-color: #ffffff;
  border: 2px solid #585858;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  border-radius: 8px;
  display: none;
  min-height: 300px;
}

.business-services-panel.open {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  overflow: auto;
  margin-left: 200px;
}

.business-services-panel h2 {
  color: #a01e1e;
  font-size: 1.8rem;
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.business-panel-item {
  background-color: #eceded;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.business-panel-item span {
  color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: bold;
}

.business-panel-item p {
  color: #585858;
  font-size: 1rem;
  margin: 0;
}
